 body{
  font-family: sans-serif;
  background:#FFFFFF;
  margin-right: auto;
margin-left: auto;
}
p{
width: 90%;
color: black;
font-size: 15px;
text-align: justify;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right,#ffffff,#C0C0C0);
	padding: 0;
}
.navbar-brand img
{
	height: 50px;
	padding-right: 100px;
}
 .navbar-nav li 
 {
 	padding: 0 10px;
 }
 
 .navbar-nav li a
 {
  font-weight: 600;
 } 

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
display: inline-flex;
  padding: 0 6px;
  float: center;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 30%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #6F8C8C;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

table {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

td {
  padding-bottom: 10px;
}


